<%= form_with(model: Task) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.area_field :content %>
  </div>
  <%= form.submit %>
<% end %>