<%= form_with(model: @task,local: true ,url: choose_new_or_edit  ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      　<% @task.errors.full_messages.each do |msg| %>
      　　<li><%= msg %></li>
      　<% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル%>
    <%= form.text_field :title, class: "form-control col-xs-4" %>
  </div>

  <div class="field">
    <%= form.label :内容%>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :終了期限%>
    <%= form.date_field :deadline, value: Time.now.strftime("%Y-%m-%d") %>
  </div>

  <div class="field">
    <%= form.label :優先順位%>
    <%= form.select :priority,Task.priorities.keys %>
  </div>

  <div class="field">
    <%= form.label :状態%>
    <%= form.select :status, [["未着手"],["着手中"],["完了"]],include_blank: true, selected:"" %>
  </div>

  <div class="field">
    <%= form.label :ラベル　%>
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <label style = "background-color: aquamarine"><%= label.name %></label>
    <% end %>
  </div>

  <div class="actions" >
    <%= form.submit nil, class: "btn btn-outline-success btn-sm" %>
  </div>
<% end %>