<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :priority %>
  <%= form.hidden_field :status %>
  <%
=begin%>
 <%= form.hidden_field :label_ids %>
<%
=end%>
  <%
=begin%>
e f
 <%= form.label :label_ids, 'ラベル' %>
<%
=end%>
          <%= form.collection_check_boxes :label_ids, Label.all, :id, :name do |l| %>
            <%= l.check_box + l.label %>
          <% end %>

  <%
=begin%>
 <% binding.pry %> 
<%
=end%>

  <p>タイトル:<%= @task.title %></p>
  <p>本文:<%= @task.content %></p>
  <p>終了期限:<%= @task.deadline %></p>
  <p>優先順位:<%= @task.priority %></p>
  <p>状態:<%= @task.status %></p>
  <p>ラベル:<%= params[:task][:label_ids] %></p>

  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @task, url: new_task_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :priority %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :label_ids %>

  <%= form.submit "戻る", name: 'back', class: "btn btn-outline-info btn-sm" %>
<% end %>