<h1>タスク一覧</h1>

<%= form_with(model: Task.new, method: :get, local: true , url: tasks_path) do |f| %>
  <%= f.label :title_search, 'タイトル検索'%>
  <%= f.text_field :title %>
  <%= f.label :status_search, '状態検索' %>
  <%= f.select :status, [["未着手"],["着手中"],["完了"]], include_blank: true %>
  <%= f.label :label_search, 'ラベル検索' %>
  <%= f.select :label_id,  Label.all.map{|label| [label.name, label.id]}, include_blank: true %>
	<%= f.hidden_field :search, value: 'true' %>

	<%= f.submit 'Search', class: "btn btn-outline-success btn-sm" %>
<% end %>

<%= link_to '新しくタスクを投稿する', new_task_path, class: "btn btn-primary btn-sm" %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: true), class: "btn btn-outline-primary btn-sm"%>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: true), class: "btn btn-outline-primary btn-sm"%>

<table class = "table table-hover" >
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>優先度</th>
    <th>状態</th>
    <th>作成日時</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.deadline %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to '詳細を確認する', task_path(task.id), class: "btn btn-outline-dark btn-sm" %></td>
      <td><%= link_to "タスクを編集する", edit_task_path(task.id), method: :get, class: "btn btn-outline-dark btn-sm" %></td>
      <td><%= button_to 'タスクを削除する', task_path(task.id), method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn btn-danger" %></td>
      <% task.labels.each do |label| %>
        <td><%= label.name %></td>
      <% end %>
    </tr>
	<% end %>
	<%= paginate @tasks %>
</table>
