<h1>タスク一覧</h1>

<%= form_with(model: Task.new, method: :get, local: true , url: tasks_path) do |f| %>
  <%= f.label :title_search, 'タイトル検索' %>
  <%= f.text_field :title %>
  <%= f.label :status_search, '状態検索' %>
  <%= f.select :status, [["未着手"],["着手中"],["完了"]], include_blank: true %>
  <%= f.hidden_field :search1, title: 'true' %>
  <%= f.hidden_field :search2, status: 'true' %>

  <%= f.submit 'Search' %>
<% end %>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期限</th>
    <th>優先度</th>
    <th>状態</th>
    <th>作成日時</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.deadline %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
      <td><%= link_to "タスクを編集する", edit_task_path(task.id) %></td>
      <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete,data: { confirm: '本当に削除していいですか？'} %></td>
    </tr>
　 <% end %>
</table>
<%= link_to '新しくタスクを投稿する', new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: true) %>