<h1>タスク詳細画面</h1>

<table class = "table table-hover" >
  <tr>
    <th>タイトル</th>
    <td><%= @task.title %></td>
  </tr>
    <th>内容</th>
    <td><%= @task.content %></td>
  <tr>
    <th>終了期限</th>
    <td><%= @task.deadline %></td>
  </tr>
  <tr>
    <th>優先度</th>
    <td><%= @task.priority %></td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
      <th>ラベル</th>
      <% @task.labels.each do |label| %>
        <td><%= label.name %></td>
      <% end %>
  </tr>

</table>
<%= link_to '戻る', tasks_path, class: "btn btn-outline-info btn-sm" %>