<h1>ユーザーの詳細</h1>

<%= link_to 'ユーザー一覧', admin_users_path, class: "btn btn-primary btn-sm" %>

<table class = "table table-hover" >
  <tr>
    <th>User.human_attribute_name(:id)</th>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>User.human_attribute_name(:name)</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>User.human_attribute_name(:email)</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>User.human_attribute_name(:admin)</th>
    <td><%= @user.admin? ? 'あり' : 'なし' %></td>
  </tr>
  <tr>
    <th>User.human_attribute_name(:created_at)</th>
    <td><%= @user.created_at %></td>
  </tr>
  <tr>
    <th>User.human_attribute_name(:updated_at)</th>
    <td><%= @user.updated_at %></td>
  </tr>
</table>

<%= link_to "ユーザーを編集する", edit_admin_user_path, class: "btn btn-outline-dark btn-sm" %>
<%= button_to 'ユーザーを削除する', [:admin, user], method: :delete,data: { confirm: '本当に削除していいですか？'}, class: "btn btn-danger" %>