<!DOCTYPE html>
<html>
  <head>
    <title>Everyleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%
=begin%>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
  </head>

  <body>
  <header class = "border-bottom">

    <div class = "apptitle navbar navbar-expand-md navbar-light navbar-brand">万葉TASK</div>
  </header>
  <div class = "container">
  <% if notice.present?  %>
　  <p class = "alert alert-success"><%= notice %></p>
  <% end %>
    <%= yield %>
  </div>
  </body>
</html>
